background-color: black;

box1{
  margin: 0px;
}
img{
  width:600px;
  height:200px;
  opacity: 0.3;
  margin: 0px;
}
.img-container{
  display: flex;
  /* margin: auto; */
  width: 100%;
  height:200px;
  background-color: black;
  align-items: center;
}
.text{
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
  text-align: center;
  padding: 50px;
  font-size: 50px;
  font-family: cursive;
}
.text3{
  color: white;
  text-align: center;
  padding: 25px;
  font-size: 20px;
  font-family: "copperplate";
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}
li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
}

li a:hover {
background-color: darkGrey;
}
.bannerDiv{
  margin: 0px;
  width:100%;
  height: 100px;
  background-color: lightgrey;
}
.text2{
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
  text-align: center;
  padding: 15px;
  font-size: 50px;
  font-family: cursive;
}
.text4{
  color: red;
  margin: 15px;
  font-size: 35px;
  font-family: "copperplate";
}
.text5{
  color: white;
  margin: 25px;
  font-size: 25px;
  font-family: "copperplate";
  text-align: justify;
}
.banner2Div{
  margin: 15px;
  width:100%;
  height: 70px;
  background-color: grey;
}
h1{
  color: white;
  font-size: 30px;
  font-family: "copperplate";
  margin:15px;
  padding: 15px;
}
iframe{
  margin:auto;
}
