.boxdiv{
  height: 120px;
  width: windowWidth;
  background-color: black;
}
.text{
  font-size: 15px;
  color: white;
  margin: 5px;
}
.songTitle{
  font-size: 20px;
  color: lightYellow;
  margin: 5px;
}
