.boxdiv{
  height: 250px;
  width:1200px;
  background-color: black;
}
.text{
  font-size: 15px;
  color: white;
  margin: 5px;
}
.songTitle{
  font-size: 20px;
  color: lightYellow;
  margin: 5px;
}
