h1{
  font-size:15px;
  color:#a923f7;
}
.group{
  font-size: 50px;
  color: white;
}
.songTitle{
  font-size: 20px;
  color: pink;
}
p{
font-size: 23px;
color: white;
}
h2{
  font-size: 15px;
  color: pink
}
h3{
  font-size: 15px;
  color: white
}
